/* Base styles for the body */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

/* Styles for dark mode | https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp*/
.dark-mode {
  background-color: black;
  color: white;
}

/* Styles for the button | https://www.w3schools.com/css/css3_buttons.asp*/
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for the header and footer */
header,
footer {
  text-align: center;
  position: relative;
  border: 2px solid black;
  padding: 2px;
}

/* Specific styles for the header title */
header h1 {
  display: inline-block;
  border: 0px solid black;
}

/* Styles for the theme toggle button */
#theme-toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: none;
  border: none;
  /* Position top right of the header */
}

/* Styles back button and theme toggle button */
header .header-buttons {
  position: absolute;
  right: 50px;
  top: 10px;
  display: flex;
  align-items: center;
}

/* Container styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  /* Align the content| could not get to take up whole page, containers kept sticking to the content within NEED TO FIX */
}

/* Styles for the left and right panels */
.left-panel,
.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

/* Styles for the circle element |https://www.w3schools.com/howto/howto_css_circles.asp */
.circle {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgb(255, 0, 0), rgb(110, 20, 20));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  color: white;
  font-weight: bold;
}